<h1><%= @contestant.name %></h1>
<h3> <%= "Season #{@contestant.bachelorette.season_number} - #{@contestant.bachelorette.description}" %></h3>
<h3>Outings:</h3>
<ul>

  <% @contestant.outings.each do |outing| %>
  <li>   <%= link_to "#{outing.name}", "/outings/#{outing.id}" %>  <%= outing.name %>  </li> 
  <% end %>
  </ul>


