<h1><%= @bachelorette.name %></h1>
<h3> <%= "Season #{@bachelorette.season_number} - #{@bachelorette.description}" %></h3>
  <%= link_to "#{@bachelorette.name}'s contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>

<h3><%="Average Age of Contestants: #{@bachelorette.contestants.average_age} "=%></h3>


