<h1>Bachelorette: <%=@bachelorette.name%> </h1>
<h3>Season: <%=@bachelorette.season_number%> </h3>

<%=link_to "Lauren's Suitors",  bachelorette_contestants_path(@bachelorette.id) %>

<p>Average Age of Contestants: <%=@bachelorette.contestants.average_age.to_i %> </p>